#logo {
    animation: logoEnlarge 5s 1;
    width: 475px;
}
@keyframes logoEnlarge {
    0% {
        width: 25px;
        opacity: 0;
    } 100% {
        width: 475px;
        opacity: 1;
    }
}
body {
    font-family: 'Poppins', serif;
    background: #f1f1f1 url("../images/concrete_seamless.png") repeat;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav_links {
    display: flex;
    flex-direction: column;
}
a:visited {
    color: #1404F5;
}
.card > header {
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}
.card {
    flex: 0 1 450px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}
.pricing {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.gallery {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 300px;
    justify-content: center;
}
.gallery img {
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}
@media screen and (min-width: 900px) {
    body > header {
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }
    .nav_links {
        flex-direction: row;
    }
    .card {
        flex: 0 0 275px;
    }
}
@media screen and (prefers-reduced-motion: reduce) {
    #logo {
        animation: none;
    }
}
@media print {
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }
    header {
        display: flex;
        flex-direction: column;
    }
}